<h1>CHANGE TEE TIME</h1>


<%= form_for @teetime do |f| %>
    <p>
      <%= f.label :date %>
      <%= f.text_field :date%>
    </p>

    <p>
      <%= f.label :course %>
      <%= f.text_field :course%>
    </p>
<!--edit field that will change exixting teetime properties-->

    <p>
      <%= f.submit "Teetime Update" %>
    </p>
        <!--update submit will link back to main page through controller-->
<%end%>