<h1>FORESITE</h1>
<p><%= link_to "Make a teetime", new_teetime_path %></p>
<!--all teetimes are listed and making a teetime is a click away-->
<% @teetimes.each do |teetime| %>
    <h2><%=link_to teetime.date, teetime %></h2>
    <p><%=teetime.course%></p>
    <p>
      <%= link_to "Change Teetime", edit_teetime_path(teetime)%> |
     <%= link_to "Cancel Teetime", teetime, :confirm => "Really?", :method => :delete %>
    </p>
<!--still reading these comments?-->
    <hr />
<%end%>

<p><%= link_to "Make a teetime", new_teetime_path %></p>