
<p id="TTlink"><%= link_to "Make a teetime", new_teetime_path %></p>

<!--all teetimes are listed and making a teetime is a click away-->
<div class="container">
  <% @teetimes.each do |teetime| %>
      <h2><%= current_user.name %></h2>
      <h2><%=link_to teetime.date, teetime %></h2>
      <h2><p><%=teetime.course%></p></h2>
      <p>
        <%= link_to "Change Teetime", edit_teetime_path(teetime)%> |
        <%= link_to "Cancel Teetime", teetimes_path(teetime), method: :delete %>

      </p>
      <!--still reading these comments?-->
      <hr />
      </div>
  <%end%>