<h1> "Make a Teetime"</h1>


<h3>Please write the date and time you want to find a golf partner</h3>



<body>
<%= form_for @teetime do |f|%>
    <%= f.label :date %>
    <%= f.text_field :date, id: "datepicker" %>

    <br>





    <h3> Type the name of the course you want to play</h3>

    <p>
      <%= f.label :course %><br/>
      <%= f.text_field :course %>
    </p>
    <p>
      <%= f.submit "Make a Teetime" %>
    </p>



    <!--where the fun of the site should be  I failed at that-->
<%end%>
<script>
    $(function() {
        $( "#datepicker" ).datepicker({ dateFormat: 'mm-dd-yy' });
    });
</script>
