<%= stylesheet_link_tag 'teetimes.css.scss', media: 'all', 'data-turbolinks-track' => true %>

<h1> Make a Teetime</h1>



<h3>When do you want to play?</h3>

  <%= form_for @teetime do |f|%>
        <%= f.label :date %>
        <%= f.text_field :date, id: "datepicker" %>
        <%= f.label :time %>
        <%= f.text_field :time %>
<br>


    <h3> Participating Courses</h3>

    <p>
            <%= f.label :course %><br/>
            <%= f.collection_select :course, Teetime::COURSES, :to_s, :to_s,
                              :include_blank => true%>

    </p>
    <p>
      <%= f.submit "Make a Teetime" %>
    </p>
      <%= link_to "Back to listing",teetimes_path %>


<%end%>

      <!--where the fun of the site should be  I failed at that-->
    <script>
        $(function() {
            $( "#datepicker" ).datepicker({format: 'mm/dd/yyyy'});

        });
    </script>

<!--var date = $('#datepicker').datepicker({ dateFormat: 'dd-mm-yy' }).val();-->



    <!--where the fun of the site should be  I failed at that-->



