<%= stylesheet_link_tag 'teetimes.css.scss', media: 'all', 'data-turbolinks-track' => true %>
<h1>Signup and find someone to golf with in no time</h1>
<div class="signup">
<%= form_for :user, url: '/users' do |f| %>

    Name: <%= f.text_field :name %>
    Handicap: <%= f.text_field :handicap %>
    Email: <%= f.text_field :email %><br>
    <br>
    Password: <%= f.password_field :password %>
    Password Confirmation: <%= f.password_field :password_confirmation %>
    </br>
    </br>
</div>
    <%= f.submit "Get Golfin" %>

<% end %>