<!DOCTYPE html>
<html>
<head>

  <%= javascript_include_tag 'application.js' %>
  <link href='http://fonts.googleapis.com/css?family=Cinzel:700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <title>ForeSite</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>


</head>
<body>
<div class="container-fluid">
  <div class= "backdrop">
    <nav class="navbar navbar-default navbar-fixed-top">

      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>

        </button>
        <a class="navbar-brand" href="/login">ForeSite</a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to  "Make a Teetime", new_teetime_path %></li>

          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-cog" aria-hidden="true"> </span><span class="caret"></span>
              <ul class="dropdown-menu" role="menu">
                <!-- -->


                <li>
                  <% if current_user %>
                      <%= link_to "Log out", logout_path %>
                  <% else %>
                      <%= link_to "Login", login_path %>
                  <% end %></li>

                <li>
                  <% if current_user %>

                  <% else %>
                    <li><%= link_to "Sign Up", signup_path %></li>
                <% end %>
          </li>


        </ul>
        </li>

      </div>

    </nav>


    <!--<div id="user_header">-->
    <!--<% if current_user %>-->
        <!--Logged in as <%= current_user.name %> <br />-->
        <!--<%= link_to    "Log Out", logout_path %>-->
        <!--<% else %>-->
        <%= link_to "Sign Up", signup_path %><br />
        <!--<%= link_to "Log In", login_path %>-->
        <!--<% end %>-->



    <!--&lt;!&ndash;above puts access credentials throughout site&ndash;&gt;-->

  </div>
  <% flash.each do |key, value| %>
      <%= content_tag(:div, class: "alert alert-#{key}") do %>
          <p><%= value %></p>
      <% end %>
  <% end %>



  <%= yield %>




</div>
</div>
</body>
</html>
